[Desktop Entry]
Encoding=UTF-8
Name=Itgoldcoins
Comment=Itgoldcoins P2P Cryptocurrency
Comment[fr]=Itgoldcoins, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Itgoldcoins, eşten eşe kriptografik sanal para birimi
Exec=itgoldcoins-qt %u
Terminal=false
Type=Application
Icon=itgoldcoins128
MimeType=x-scheme-handler/itgoldcoins;
Categories=Office;Finance;
